
/*  ein * steht für alle: alle Elemente sollen kein margin, padding und box-sizing haben */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;/*Arial, Helvetica, sans-serif;*/
    background-color: #FCF967;
    color: black;
  }
  
  /* Style the header */
  header {
    background-color: #FCF967;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    /*color: #f03c20;*/
    color: black;
  }
 

.cl_page 
{
  width: 1500px;
  margin: 0 auto;   /* auto entspricht mittig des Schirms*/
  overflow: hidden; 
  min-height: 1000px;
  border: 1px solid blue; /*  für Testphase*/
}


 ul {
   list-style-type: none;
   margin: 0;
   padding-right: 400px;
   padding-bottom: 50px;
   padding-left: 400px;
   overflow: hidden;
   background-color: #FCF967;
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color: red;
   font-size: 34px;
   text-align: center;
   padding: 29px;
   text-decoration: none;
 }
 
 li a:hover {
   background-color: rgb(230, 197, 53);
 }
 
 article{
   padding-right: 400px;
   padding-bottom: 50px;
   padding-left: 400px;
   display: block;
   font-size: 22px;
 }
 
 footer{
   padding-right: 100px;
   padding-bottom: 50px;
   padding-left: 100px;
   display: block;
   font-size: 18px;
   text-align: center;
 }
 